[submodule "rtos"]
	path = rtos
	url = git@github.com:11cookies11/Rtos.git
[submodule "cmsis"]
	path = cmsis
	url = git@github.com:STMicroelectronics/cmsis-device-f4.git
[submodule "drivers"]
	path = drivers
	url = git@github.com:STMicroelectronics/STM32CubeF4.git
